In [1]:
import pandas as pd
import os

In [12]:
file_path = r'C:\Users\Admin\Desktop\student_performance.csv'

In [13]:
student_performance_df = pd.read_csv(file_path)

In [14]:
print(student_performance_df.head())

   StudentID  G1  G2  G3      Mjob     Fjob  age address  studytime  failures  \
0          1   6   2   2   teacher  at_home   21   rural          3         1
1          2  19  11  18    health  teacher   18   rural          1         1
2          3  14   7  19    health    other   20   urban          1         1
3          4  10   2   6  services   health   21   urban          3         1
4          5   7   0  19    health   health   18   rural          4         1

  schoolsup famsup paid activities nursery higher internet romantic
0        no    yes  yes        yes     yes    yes       no      yes
1        no     no   no         no     yes     no       no       no
2       yes    yes  yes         no      no     no      yes      yes
3       yes     no  yes         no     yes     no       no       no
4        no     no  yes         no     yes    yes      yes       no

In [15]:
print(student_performance_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   100 non-null    int64
 1   G1          100 non-null    int64
 2   G2          100 non-null    int64
 3   G3          100 non-null    int64
 4   Mjob        100 non-null    object
 5   Fjob        100 non-null    object
 6   age         100 non-null    int64
 7   address     100 non-null    object
 8   studytime   100 non-null    int64
 9   failures    100 non-null    int64
 10  schoolsup   100 non-null    object
 11  famsup      100 non-null    object
 12  paid        100 non-null    object
 13  activities  100 non-null    object
 14  nursery     100 non-null    object
 15  higher      100 non-null    object
 16  internet    100 non-null    object
 17  romantic    100 non-null    object
dtypes: int64(7), object(11)
memory usage: 14.2+ KB
None

In [16]:
print(student_performance_df.isnull().sum())

StudentID     0
G1            0
G2            0
G3            0
Mjob          0
Fjob          0
age           0
address       0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
dtype: int64